.info
  margin: auto
  max-width: 500px
  text-align: center

  h2
    set-font-size(22px)
    line-height: remify(24px)
    margin: -5% 0 15px
    @media (min-width: 1024px)
      set-font-size(29px)
      margin-bottom: remify(20px)

  img
    display: block
    margin: auto 0
    max-width: 100%

  .close
    background: url(images/icon_close.svg) no-repeat
    cursor: pointer
    height: 40px
    opacity: 0.75
    position: absolute
    right: 15px
    top: 15px
    width: 36px

    &:hover, &:focus
      opacity: 1

    b
      display: block
      text-indent: -999em

  button
    border-radius: 4px
    color: $white
    set-font-size(20px)
    line-height: remify(22px)
    margin-bottom: remify(15px)
    padding: 10px 20px

    @media (min-width: 1024px)
      set-font-size(24px)
      line-height: remify(26px)
      padding: 10px 100px

    &.unpack
      background: $red
      &:hover, &:focus
        background: lightness($red, 40%)
