/**
 * Created by Chris Dorward on 31/01/2017
 * containers/App.scss
 */
@import '../vars.scss';

#root {
  margin: 0px;
}

html, body, #root {
  font-family: 'Arial';
  font-size: 16px;
  line-height: 26px;
  background: $hlb-background;
  color: $hlb-text;
}

.item-content-pad{
  padding-top: 10px;
  padding-left: 50px;
}

.item-content-ingredients {
    padding-top: 20px;

}

.home-featured-recipes {
  background: $hlb-white;
  padding: 30px;
  margin: 20px;
  margin-top: -20px;
}

.home-bottom {
  padding: 30px;
  margin: 20px;
}

.hidden-menu {
  position: absolute;
  width: 250px;
  text-align: left;
}

.hidden-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hidden-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hidden-menu ul .hidden-menu li {
  display: inline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo';
  color: $hlb-blue-dark;
}

h1 {
  font-size: 40px;
  color: $hlb-titles;
}

h2 {
  font-size: 36px;
  color: $hlb-titles;
}

h3 {
  font-size: 24px;
  color: $hlb-titles;
}

h4 {
  font-size: 18px;
  color: $hlb-titles;
}

h5 {
  font-size: 16px;
  color: $hlb-titles;
}

h6 {
  font-size: 14px;
  color: $hlb-titles;
}

a, a:hover, a:visited, a:active a:link {
  text-decoration: none;
}

table tr td {
  padding: 15px;
}

.proximity-btns {
  margin: 5px;
}

.context-buttons {
  margin: 5px;
  margin-right: 50px;
  font-family: 'Baloo';
  font-size: 18px;
  cursor: pointer;
}

.context-buttons:hover {
  text-decoration: none;
}

.container_xxx {
  background: white;
  border: 1px solid black;
}

.edit-btn {
  margin: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.raised-page {
  border: 1px solid #ddd;
  background: white;
  padding: 25px;
  margin-top: 25px;

  /* x-offset, bottom-offset, spread, size */
  box-shadow: 0 8px 25px 2px #a8a094;
}

.flat-page {
  background: white;
  padding: 10px;
  min-height: 500px;

  h3 {
    padding: 15px;
  }
}

/* hlb-page-btn - a text button with a yello line underneath it */
.hlb-page-btn {
  border-bottom: 3px solid $hlb-yellow;
}

.hlb-page-btn:hover {
  border-bottom: 3px solid $hlb-blue;
}

/* hlb-page-header => controls how the page titles look */
.page-header {
}
