/**
 * Created by Chris Dorward on 31/01/2017
 * containers/App.scss
 */
@import '../vars.scss';

html, body, #root {
  font-family: 'Arial';
  font-size: 16px;
  line-height: 26px;
  background: $hlb-background;
  color: $hlb-text;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo';
  color: $hlb-blue-dark;
}

h1 {
  font-size: 40px;
  color: $hlb-titles;
}

h2 { font-size: 36px; color: $hlb-titles; }
h3 { font-size: 28px; color: $hlb-titles; }
h4 { font-size: 18px; color: $hlb-titles; }
h5 { font-size: 16px; color: $hlb-titles; }
h6 { font-size: 14px; color: $hlb-titles; }

a, a:hover, a:visited, a:active a:link {
  text-decoration: none;
}

table tr td {
  padding: 15px;
}

.proximity-btns {
  margin: 5px;
}

.context-buttons {
  margin: 5px;
  margin-right: 50px;
  font-family: 'Baloo';
  font-size: 18px;
  cursor: pointer;
}

.context-buttons:hover {
  text-decoration: none;
}

.container_xxx {
  background: white;
  border: 1px solid black;
}

.edit-btn {
  margin: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.raised-page {
  border: 1px solid #ddd;
  background: white;
  padding: 20px;

  /* x-offset, bottom-offset, spread, size */
  box-shadow: 0 8px 25px 2px #a8a094;
}
