/**
 * Created by Chris Dorward on 31/01/2017
 * containers/App.scss
 */
@import '../vars.scss';

html, body, #root {
  font-family: 'Arial';
  font-size: 16px;
  line-height: 26px;
  background: $hlb-background;
  color: $hlb-text;
}

.item-img{
  margin-top: 40px;
}

.container_xxx {
  border: 1px solid grey;
}

.orange-text {
  color: $hlb-orange;
  font-family: 'Baloo';
}

.yellow-text {
  color: $hlb-yellow;
  font-family: 'Baloo';
}

.raised-page {
  border: 1px solid #ddd;
  background: white;
  padding: 25px;

  /* x-offset, bottom-offset, spread, size */
  box-shadow: 0 8px 25px 2px #a8a094;
}

.flat-page {
  margin-top: 50px;
  background: white;
  padding: 10px;

  h3 {
    padding: 15px;
  }
}

a, a:hover, a:visited, a:active a:link {
  text-decoration: none;
}

table tr td {
  padding: 15px;
}

.edit-btn {
  margin: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

/* hlb-page-btn - a text button with a yello line underneath it */
.hlb-page-btn {
  border-bottom: 3px solid $hlb-yellow;
}

.hlb-page-btn:hover {
  border-bottom: 3px solid $hlb-blue;
}

/* Controls how the h tage look */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo';
  color: $hlb-blue-dark;
}

h1 {
  font-size: 40px;
  color: $hlb-titles;
}

h2 {
  font-size: 36px;
  color: $hlb-titles;
}

h3 {
  font-size: 28px;
  color: $hlb-titles;
}

h4 {
  font-size: 18px;
  color: $hlb-titles;
}

h5 {
  font-size: 16px;
  color: $hlb-titles;
}

h6 {
  font-size: 14px;
  color: $hlb-titles;
}
