/**
 * Created by Chris Dorward on 31/01/2017
 * containers/App.scss
 */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo';
  margin: 0;
}

.container_xxx {
  background: white;
  border: 1px solid black;
}

.edit-btn {
  margin-left: 5px;
}
