.row.cards
  border-color: #fff
  border-style: solid
  border-width: 1px 0 1px 0

.content-card
  box-sizing: border-box
  border-left: 1px solid #fff
  float: left
  padding: 50px 20px
  text-align: center
  width: 50%
  &:first-child
    border: none

  h3
    color: #0698d6
    font-size: 26px
    margin-bottom: 15px

  a
    background: #fff
    border-radius: 3px
    color: #0698d6
    display: inline-block
    font-weight: bold
    padding: 10px 40px
    text-decoration: none
    &:hover,&:focus
      background: #0698d6
      color: #fff

  img
    margin-bottom: 15px
    max-width: 100%

  p
    margin: 0 0 15px
