.content-card
  box-sizing: border-box
  border-left: 1px solid #DB9623
  color: #fff
  float: left
  margin: 15px 0
  padding: 20px
  width: 50%
  &:first-child
    border: none

  h3
    color: #fff
    font-size: 26px

  a
    background: #fff
    border-radius: 3px
    color: #f4b54c
    float: right
    font-weight: bold
    padding: 10px 25px
    text-decoration: none
    &:hover,&:focus
      background: #DB9623
      color: #fff

  img
    max-width: 100%
