<link rel="stylesheet" href="Builder.css" >

    <div class="container">
    		<div class="row">
    			<div class="builder-screen-1">
    		  		<div class="builder-screen-1-lunchbox">
    					<div class="row builder-1-row-responsive">
    						<div class="col-xs-8 builder-screen-1-item ">
    								<div class="row builder-1-bottom-dash builder-1-right-dash builder-screen-1-tile">
    									<div class="col-xs-5 col-md-5 builder-screen-1-tile-center"><img src="assets/bread-icon.png" class="builder-screen-1-img builder-screen-1-align img-responsive" /></div>
    									<div class="col-xs-7 col-md-7 builder-screen-1-align"><h2>Breads &amp;
    									<br /> Cereals</h2></div>
    								</div>
    								<div class="row builder-1-right-dash builder-screen-1-tile">
    									<div class="col-xs-5 col-md-5 builder-screen-1-tile-center"><img src="assets/carrot-icon.png" class="builder-screen-1-img builder-screen-1-align img-responsive" /></div>
    									<div class="col-xs-7 col-md-7 builder-screen-1-align"><h2>Vegies &amp;
    									<br /> Salad</h2></div>
    								</div>
    						</div>
    						<div class="col-xs-4 builder-screen-1-item">
    								<div class="row builder-screen-1-tile builder-screen-1-tile-center">
    									<img src="assets/water-icon.png" class="builder-screen-1-img img-responsive" />
    								    <h2>Water</h2>
    								</div>
    						</div>
    					</div>

    					<div class="row row-eq-height builder-1-row-responsive">
    						<div class="col-xs-4 builder-1-right-dash builder-1-top-dash builder-screen-1-tile builder-screen-1-tile-center ">
    							<img src="assets/meat-icon.png" class="builder-screen-1-img img-responsive" />
    							<h2>Meats &amp;
    							<br /> Alternatives</h2>
    						</div>
    						<div class="col-xs-4 builder-1-right-dash builder-1-top-dash builder-screen-1-tile builder-screen-1-tile-center">
    							<img src="assets/dairy-icon.png" class="builder-screen-1-img img-responsive" />
    							<h2>Dairy </h2>
    						</div>
    						<div class="col-xs-4 builder-1-top-dash builder-screen-1-tile builder-screen-1-tile-center">
    							<img src="assets/fruit-icon.png" class="builder-screen-1-img img-responsive" />
    							<h2>Fruits</h2>
    						</div>
    					</div>
    					<div class="border-1-item-tab"></div>
    				   </div>
    			</div>
    					<div class="border-1-prompt-box">
    				<h4>Let's start building!</h4>
    				<h3>Select any food group to begin.</h3>
    				</div>
    		</div>

        </div>
	  </div>
