
    <div id="root">

      <div class="container">
          <div class="well page-header">
            <h1>Builder</h1>
          </div>
      </div>

      <div class="container">
          <h2>Design</h2>
          <!-- <img src="assets/CardRecipeItem_Design.png" /> -->
      </div>
      <div class="container">




		<div class="row">
			<div class="builder-screen-1">
		  		<div class="builder-screen-1-lunchbox">
					<div class="row builder-1-row-responsive">
						<div class="col-xs-8 builder-screen-1-item ">
								<div class="row builder-1-bottom-dash builder-1-right-dash builder-screen-1-tile">
									<div class="col-xs-5 col-md-5 builder-screen-1-tile-center"><img src="assets/bread-icon.png" class="builder-screen-1-img builder-screen-1-align img-responsive" /></div>
									<div class="col-xs-7 col-md-7 builder-screen-1-align"><h2>Breads &amp;
									<br /> Cereals</h2></div>
								</div>
								<div class="row builder-1-right-dash builder-screen-1-tile">
									<div class="col-xs-5 col-md-5 builder-screen-1-tile-center"><img src="assets/carrot-icon.png" class="builder-screen-1-img builder-screen-1-align img-responsive" /></div>
									<div class="col-xs-7 col-md-7 builder-screen-1-align"><h2>Vegies &amp;
									<br /> Salad</h2></div>
								</div>
						</div>
						<div class="col-xs-4 builder-screen-1-item">
								<div class="row builder-screen-1-tile builder-screen-1-tile-center">
									<img src="assets/water-icon.png" class="builder-screen-1-img img-responsive" />
								    <h2>Water</h2>
								</div>
						</div>
					</div>

					<div class="row row-eq-height builder-1-row-responsive">
						<div class="col-xs-4 builder-1-right-dash builder-1-top-dash builder-screen-1-tile builder-screen-1-tile-center ">
							<img src="assets/meat-icon.png" class="builder-screen-1-img img-responsive" />
							<h2>Meats &amp;
							<br /> Alternatives</h2>
						</div>
						<div class="col-xs-4 builder-1-right-dash builder-1-top-dash builder-screen-1-tile builder-screen-1-tile-center">
							<img src="assets/dairy-icon.png" class="builder-screen-1-img img-responsive" />
							<h2>Dairy </h2>
						</div>
						<div class="col-xs-4 builder-1-top-dash builder-screen-1-tile builder-screen-1-tile-center">
							<img src="assets/fruit-icon.png" class="builder-screen-1-img img-responsive" />
							<h2>Fruits</h2>
						</div>
					</div>
					<div class="border-1-item-tab"></div>
				   </div>
			</div>
					<div class="border-1-prompt-box">
				<h4>Let's start building!</h4>
				<h3>Select any food group to begin.</h3>
				</div>
		</div>


     <div class="row" style="height: 150px"></div>

	<div class="row">
       <div class="builder-screen-2-header">
					<div class="row builder-screen-2-header-back">
						<span class="glyphicon glyphicon-arrow-left btn-lg" aria-hidden="true"></span>
					</div>
         	<div class="row row-eq-height">
         				<div class="col-sm-1 hidden-xs">

         				</div>
         				<div class="col-xs-2 col-sm-1">
         					<img src="assets/green-carrot.png" class="img-responsive builder-screen-2-header-img" />
         				</div>
         				<div class="col-xs-4 col-sm-4 builder-screen-2-header-title">
         					<h2>Vegies &amp;<br />Salads</h2>
         				</div>
         		<div class="col-xs-6 col-sm-5 builder-screen-2-header-text">
         			<h4>Eating vegies and salads helps maintain a healthy weight and can help to prevent cancer.</h4>
         		</div>
				<div class="col-md-1 hidden-xs">
				</div>
	        </div>
         	<div class="row ">
				<div class="col-xs-12 builder-screen-2-extend">
					<h4>Servive size info<span class="glyphicon glyphicon-chevron-down btn-lg" aria-hidden="true"></span></h4>
				</div>
			</div>
    	</div>

		   <div class="builder-screen-2-cards">
	   			<div class="col-md-12 builder-screen-2-cards-title">
	   				<h4>Select one to pack it!</h4>
	   			</div>
		   		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
					<div class="builder-2-card">
						<img src="assets/green-carrot.png" class="img-responsive builder-screen-2-card-img" />
							<div class="builder-2-card-text">
								<h4>Leftover baked vegies</h4>
								<p>Great in sandwiches or as snacks!</p>
							</div>

					</div>
		   		</div>
		   		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
					<div class="builder-2-card">
						<img src="assets/green-carrot.png" class="img-responsive builder-screen-2-card-img" />
							<div class="builder-2-card-text">
								<h4>Leftover baked vegies</h4>
								<p>Great in sandwiches or as snacks!</p>
							</div>

					</div>
		   		</div>
		   		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
					<div class="builder-2-card">
						<img src="assets/green-carrot.png" class="img-responsive builder-screen-2-card-img" />
							<div class="builder-2-card-text">
								<h4>Leftover baked vegies</h4>
								<p>Great in sandwiches or as snacks!</p>
							</div>

					</div>
		   		</div>
		   		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
					<div class="builder-2-card">
						<img src="assets/green-carrot.png" class="img-responsive builder-screen-2-card-img" />
							<div class="builder-2-card-text">
								<h4>Leftover baked vegies</h4>
								<p>Great in sandwiches or as snacks!</p>
							</div>

					</div>
		   		</div>
		   		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
					<div class="builder-2-card">
						<img src="assets/green-carrot.png" class="img-responsive builder-screen-2-card-img" />
							<div class="builder-2-card-text">
								<h4>Leftover baked vegies</h4>
								<p>Great in sandwiches or as snacks!</p>
							</div>

					</div>
		   		</div>
		   		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
					<div class="builder-2-card">
						<img src="assets/green-carrot.png" class="img-responsive builder-screen-2-card-img" />
							<div class="builder-2-card-text">
								<h4>Leftover baked vegies</h4>
								<p>Great in sandwiches or as snacks!</p>
							</div>

					</div>
		   		</div>		</div>


    </div>

	  </div>
	  </div>
