header
  background: $cream
  overflow: hidden

  .container
    max-width: 768px

  h1
    set-font-size(24px)
    padding: 15px 0
    text-align: center


.logo
  display: block
  float: left
  margin: 15px 12px

nav
  float: right
  margin: 21px 40px

  a
    set-font-size(16px)
    color: $grey
    display: inline-block
    font-family: 'Baloo', sans-serif
    padding-left: 48px
    text-decoration: none

    &:first-child
      color: $blue
      padding-left: 0
