/**
 * Created by Chris Dorward on 23/01/2017
 * coponents/Hero/Hero
 */

@import '../../vars.scss';

.hero {
  border: 2px solid black;
  color: $hlb-text;
}

.hero h2 {
  font-family: 'Baloo';
}

.hero-blue {
  background: #3497d3;
  border: 2px solid #3785b4;
  color: white;
}

.hero-btn {
  width: 100%;
  text-align: left;
  font-family: 'Baloo';
}

.hero-edit-btn {
  color: white;
}

.hero-btn-blue {
  background: $hlb-blue-lighten-50;
  border: none;
  color: white;
}

.hero-btn-blue:hover {
  background: $hlb-blue-darken-50;
  color: white;
}
