/**
 * Created by Chris Dorward on 23/01/2017
 * coponents/Hero/Hero
 */

.hero {
  border: 2px solid black;
  color: black;
}

.hero-blue {
  background: #3497d3;
  border: 2px solid #3785b4;
  color: white;
}

.hero-edit-btn {
  color: white;
}

.hero h2 {
  font-family: 'Baloo';
}
