.lunchbox
  background: url(images/lunchbox.png) no-repeat center
  height: 315px
  margin: 50px auto 50px
  overflow: hidden
  position: relative
  width: 450px

  .f
    bottom: 47px
    left: 33px
    position: absolute
    right: 33px
    top: 96px

    div
      height: 90px
      float: left
      padding: 10px 0
      text-align: center
      width: 50%

      img
        max-height: 65px
        max-width: 100%

      &.lunchbox__fruits, &.lunchbox__meatsandalternatives, &.lunchbox__dairy
        width: 33%
