.lunchbox
  background: url(images/lunchbox.png) no-repeat center
  height: 315px
  margin: 50px auto 50px
  position: relative
  width: 450px

  .bottle
    bottom: 0
    max-height: 175px
    position: absolute
    right: -65px

  .f
    bottom: 45px
    left: 33px
    overflow: hidden
    position: absolute
    right: 33px
    top: 95px

    div
      height: 90px
      display: flex
      float: left
      justify-content: center
      padding-top: 3px
      text-align: center
      width: 50%

      img
        max-height: 85px
        max-width: 100%

      &.lunchbox__fruits, &.lunchbox__meatsandalternatives, &.lunchbox__dairy
        width: 33%
