/**
 * Created by Chris Dorward on 23/01/2017
 * coponents/SingleHeader/SingleHeader.scss
 */

@import '../../vars.scss';

.header {
  /* border: 1px solid $hlb-blue; */
}

.nav-link h4 {
  color: $hlb-links;
}

.nav-link h4:hover {
  color: $hlb-links-hover;
}

.navbar-whole {
  border: none;
  background-image: none;
  box-shadow: none;
  z-index: 99 !important;
}

.navbar .navbar-nav {
  float: none;
  display: inline-block;
}

.navbar .navbar-collapse {
  text-align: center;
}

.header-logo-left {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 15px;
}

.header-logo-right {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 15px;
  float: right;
}

.icon-text {
  text-align: center;
  margin-top: 30px;
}

.navbar-toggle .icon-bar {
  width: 30px;
  margin-left: 3px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .header {
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header {
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header {
  }
 .header-logo-left {
   border-left: solid 1px #6b6b6b;
   padding-left:20px;
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header {
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .header {
  }
}
