/**
 * Created by Chris Dorward on 21/01/2017
 * coponents/TheLunchbox/TheLunchbox.scss
 */

.lunchbox {
  position: absolute;
  // border: 10px solid red;
  z-index: 100000;
  top: -789px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .lunchbox {
    // border: 10px solid purple;
    top: -400px;
  }
}

@media (max-width: 980px) {
  .lunchbox {
    top: -1px;
  }
}

@media (max-width: 1200px) {
  .lunchbox {
    top: -652px;
  }
}
