/**
 * Created by Chris Dorward on 12/1/2017.
 */

/* Colours */
$hlb-green: #70b04a;
$hlb-orange: #f5a239;
$hlb-blue: #3497d3;
$hlb-dark-blue: #134f7f;
$hlb-yellow: #fed300;
$hlb-header-bg: #fffcf2;
$hlb-footer-bg: #f3f2ec;

/* Fonts */
$hlb-font:          Open Sans, sans-serif;
$hlb-heading-font:  Baloo, sans-serif;
