/**
 * Created by Chris Dorward on 21/01/2017
 * coponents/Tile/Tile.scss
 */

.tile {
  min-height: 125px;
}

.tile a {
  color: white;
  text-decoration: none;
}

.white-txt {
  color: white;
}

.tile a {
  color: black;
}

.tile-default {
  background: #ddd;
  border: 1px solid #eee;
  color: black;
}

.tile-tip {
  background: #70b04a;
  border: 1px solid #5a9239;
  color: white;
}

.tile-recipe {
  background: #3497d3;
  border: 1px solid #2b7fb2;
  color: white;
}

@media (max-width: 768px) {
  .tile {
  }
}

@media (max-width: 980px) {
  .tile {
  }
}

@media (max-width: 1200px) {
  .tile {
  }
}
