/**
 * Created by Chris Dorward on 21/01/2017
 * coponents/Tile/Tile.scss
 */

.tile {
  height:150px;
  border: 1px solid #ddd;
  color: black;
  font-family: 'Baloo';
}

.tile-btn-white {
  color: white;
}

.tile-btn-title {
  color: white;
  text-decoration: none;
}

.tile-btn-title:hover {
  color: black;
}

.tile-tip {
  background: #fed300;
  color: black;
}

.tile-recipe {
  background: #f5a239;
  color: black;
}
