/**
 * Created by Chris Dorward on 21/01/2017
 * coponents/Navigation.scss
 */

.navigation {
  // border: 1px solid green;
}

.navitem-btn {
  margin: 8px;
}

.navitem-btn-blue {
  background: #3497d3;
  color: white;
}

.navitem-btn-green {
  background: #70b04a;
  color: white;
}

.navitem-btn-orange {
  background: #f5a239;
  color: white;
}

.navitem-btn a {
  color: white;
  text-decoration: none;
  height: 100%;
}



.navitem-btn-default a {
  color: black;
}

@media (max-width: 768px) {
  .navigation {
  }
}

@media (max-width: 980px) {
  .navigation {
  }
}

@media (max-width: 1024px) {
  .navigation {
  }
}

@media (max-width: 1200px) {
  .navigation {
  }
}
