/**
 * Created by Chris Dorward on 21/01/2017
 * coponents/Navigation.scss
 */

@import '../../vars.scss';

.navigation-navbar {
  height: 100px;
  padding-top: 35px;
  border: none;
  background: $hlb-background;
}

.navitem-btn {
  margin: 8px;
  font-family: 'Baloo';
  border: none;
}

.navitem-btn:hover {
  background: $hlb-white;
  color: $hlb-black;
}

.navitem-btn-green {
  background: $hlb-green;
  color: $hlb-white;
}

.navitem-btn-blue {
  background: $hlb-blue;
  color: $hlb-white;
}

.navitem-btn-yellow {
  background: $hlb-yellow;
  color: $hlb-white;
}

.navitem-btn-orange {
  background: $hlb-orange;
  color: $hlb-white;
}

.navitem-btn-default a {
  color: black;
}

@media (max-width: 768px) {
  .navigation {
  }
}

@media (max-width: 980px) {
  .navigation {
  }
}

@media (max-width: 1024px) {
  .navigation {
  }
}

@media (max-width: 1200px) {
  .navigation {
  }
}
