/**
 * Created by Chris Dorward on 23/01/2017
 * coponents/SingleHeader/SingleHeader.scss
 */

@import '../../vars.scss';

.header {
}

.nav-link {
  margin-left: 20px;
  color: $hlb-blue;
  text-decoration: none;
}

.nav {
  margin-top: 50px;
  font-family: 'Baloo';
  font-size: 20px;
}

.logo {
  margin-top: 25px;
  margin-bottom: 25px;
}

.nav-link:hover {
  color: $hlb-green;
}
