/**
 * Created by Chris Dorward on 23/01/2017
 * coponents/SingleHeader/SingleHeader.scss
 */

@import '../../vars.scss';

.header {
  color: black;
}

.header h3 {
  color: black;
  font-family: 'Baloo';
}
