/**
 * Created by Chris Dorward on 23/01/2017
 * coponents/SingleHeader/SingleHeader.scss
 */

@import '../../vars.scss';

.header {
  > .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  > .nav {
    margin-top: 50px;
    font-family: 'Baloo';
    font-size: 20px;

    > .nav-link {
      margin-left: 20px;
      color: $hlb-blue;
      text-decoration: none;
    }

    > .nav-link:hover {
      color: $hlb-green;
    }
  }
}
