<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Header</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="Header.css" >
    <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">

  </head>

<div class="header container">
  <div class="row">
    <div class="col-sm-8 col-xs-2 col-sm-push-2">
      <nav class="navbar navbar-default navbar-whole">
        <div class="container-fluid" id="nav">
          <div class="navbar-header ">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
  						<span class="sr-only">Toggle navigation</span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  						<span class="icon-text">MENU</span>
            </button>
          </div>
					<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav ">
  						<li><a href="#"><h4>LUNCH BOX BUILDER</h4></a></li>
  						<li><a href="#"><h4>RECIPES &amp; IDEAS</h4></a></li>
  						<li><a href="#"><h4>TIPS</h4></a></li>
  						<li><a href="#"><h4>ABOUT</h4></a></li>
					  </ul>
					</div>
			  </div>
      </nav>
		</div>

    <div class="col-sm-2 col-xs-3 col-sm-pull-8">
      <a href="#"><img src="assets/HLB_Logo-90.png" class="img-responsive header-logo-left " /></a>
    </div>

    <div class="col-sm-2 col-xs-7">
      <a href="#"><img src="assets/CCNSW-EITBI-200.png" class="img-responsive header-logo-right" /></a>
    </div>

  </div>
</div>
