.row.info
  background: #9de5a2
  color: #fff

.react-tabs
  margin: 20px 0
  ul
    text-align: center
    li
      display: inline-block
      margin: 0 10px
      vertical-align: top
      span
        background: #4d90d7
        border: 4px solid #fff
        border-radius: 50%
        display: block
        height: 80px
        width: 80px
      &.ReactTabs__Tab--selected
        span
          background: #f9a832
    img
      margin-top: 5px

  div
    clear: both
    padding: 25px 0
