/**
 * Created by Chris Dorward on 27/01/2017
 * coponents/Footer/Footer.scss
 */

@import '../../vars.scss';

.footer {
  color: $hlb-grey-light
}

.footer .start-again {
  color: $hlb-grey-light
}

.footer .start-again:hover {
  color: $hlb-grey-dark;
}
