.react-tabs

  .ReactTabs__TabList
    background: #f3f2ec
    .ReactTabs__Tab--selected
      border-bottom: 4px solid $blue
      @media (min-width: 600px)
        border-width: 6px
      &.breads
        .icon_breads
          background-position: 0 -90px
          @media (min-width: 600px)
            background-position: 0 -180px

      &.fruits
        .icon_fruits
          background-position: 0 -450px
          @media (min-width: 600px)
            background-position: 0 -890px

      &.meats
        .icon_meats
          background-position: 0 -630px
          @media (min-width: 600px)
            background-position: 0 -1257px

      &.dairy
        .icon_dairy
          background-position: 0 -810px
          @media (min-width: 600px)
            background-position: 0 -1611px

      &.vegies
        .icon_vegies
          background-position: 0 -270px
          @media (min-width: 600px)
            background-position: 0 -535px
            text-align: center

  ul
    margin-bottom: 25px
    text-align: center
    li
      display: inline-block
      set-font-size(12px)
      line-height: remify(24px)
      margin: 0 10px
      text-align: center
      vertical-align: top
      @media (min-width: 768px)
        margin: 0 25px

      b
        display: none
        @media (min-width: 600px)
          display: block

      .icon
        background: url(images/icon_sprite_foodgroups.png) no-repeat
        background-position: 0 0
        background-size: 100%
        display: block
        height: 40px
        width: 40px

        &:hover, &:focus
          background-position: 0 -90px
          @media (min-width: 600px)
            background-position: 0 -180px

        @media (min-width: 600px)
          height: 80px
          margin: auto
          width: 80px

        &.icon_vegies
          background-position: 0 -180px
          &:hover, &:focus
            background-position: 0 -270px

          @media(min-width: 600px)
            background-position: 0 -355px
            &:hover, &:focus
              background-position: 0 -535px

        &.icon_fruits
          background-position: 0 -360px
          &:hover, &:focus
            background-position: 0 -450px

          @media(min-width: 600px)
            background-position: 0 -710px
            &:hover, &:focus
              background-position: 0 -890px

        &.icon_meats
          background-position: 0 -540px
          &:hover, &:focus
            background-pos  0 -630px

          @media(min-width: 600px)
            background-position: 0 -1077px
            &:hover, &:focus
              background-position: 0 -1257px

        &.icon_dairy
          background-position: 0 -720px
          &:hover, &:focus
            background-position: 0 -810px

          @media(min-width: 600px)
            background-position: 0 -1431px
            &:hover, &:focus
              background-position: 0 -1611px

  .ReactTabs__TabPanel
    padding: 0 15px 15px
    margin: auto
    max-width: 960px

    > div
      color: #747679
      set-font-size(12px)
      margin-bottom: 20px
      text-align: center
      div
        &.hidden
          display: none
      p
        display: block
        margin-bottom: 10px

      h2
        set-font-size(24px)
        text-align: center
        @media (min-width: 768px)
          set-font-size(42px)

      button
        background: transparent
        color: $blue
        display: inline-block
        font-family: sans-serif
        font-weight: normal
        padding: 10px 25px


.learn
  max-width: 500px
  margin: auto
  padding: 15px 0
  text-align: center
