/**
 * Created by Chris Dorward on 15/01/2017
 * Styles entrypoint
 */

.template-picker {
  margin-bottom: 20px;
}

.template-tile-link {
  color: #333;
}

.template-tile-link:hover {
  color: #999;
  text-decoration: none;
}

.template-about-links {
  margin: 25px;
}

.tile-category img {
  float: left;
  height: 75px;
  width: 75px;
}

.cc_logo {
  margin-top: -12px;
}

.template-footer {
  text-align: center;
}
