/**
 * Created by Chris Dorward on 15/01/2017
 * Styles entrypoint
 */

.clear-tile {
  clear: both;
}

.tile-category {
  // border: 1px solid black;
}

.tile-category img {
  float: left;
  height: 65px;
  width: 65px;
}

.cc_logo {
  margin-top: -12px;
}

.template-pagetitle {
  margin-bottom: 25px;
}

.template-footer {
  text-align: center;
}

.template-home {
}

.template-notfound {
}

.template-about {
}

.template-recipes {
}

.template-tips {
}

.template-builder {
  border: 1px solid black;
  min-height: 400px;
}
