/**
 * Created by Chris Dorward on 15/01/2017
 * Styles entrypoint
 */

.cc_logo {
  margin-top: -12px;
}

.template-pagetitle {
  margin-bottom: 25px;
}

.template-home {
  border: 1px solid black;
}

.template-notfound {
  border: 1px solid black;
}

.template-about {
  border: 1px solid black;
}

.template-recipies {
  border: 1px solid black;
}

.template-tips {
  border: 1px solid black;
}

.template-builder {
  border: 1px solid black;
  min-height: 400px;
}
