/**
 * Created by Chris Dorward on 29/01/2017
 * SASS Variables
 */

$hlb-text: #333;

$hlb-yellow: #fed300;
$hlb-yellow-darken-50: darken($hlb-yellow, 50%);
$hlb-yellow-lighten-50: lighten($hlb-yellow, 50%);

$hlb-blue: #3497d3;
$hlb-blue-darken-50: #1B7EBA;
$hlb-blue-lighten-50: #4EB1ED;

$hlb-green: #70b04a;
$hlb-orange: #f5a239;
