/**
 * Created by Chris Dorward on 29/01/2017
 * SASS Variables
 */

$hlb-background: #f3f2ec;

$hlb-text: #333;
$hlb-black: #000;
$hlb-white: #fff;

$hlb-grey-light: #f4f2ec;
$hlb-grey-dark: #6b6b6b;
$hlb-grey: #9b9b9b;

$hlb-yellow: #ffcf00;
$hlb-yellow-trans: rgba(255, 207, 0, 0.5);

$hlb-orange: #faa61a;
$hlb-orange-trans: rgba(250, 166, 26, 0.5);

$hlb-blue: #0096d6;
$hlb-blue-trans: rgba(0, 150, 214, 0.5);

$hlb-green: #70b04a;
$hlb-green-trans: rgba(112, 176, 74, 0.5);

$hlb-purple: #00447e;
$hlb-purple-trans: rgba(0, 68, 126, 0.5);
