/**
 * Created by Chris Dorward on 29/01/2017
 * SASS Variables
 */

$hlb-background: #f3f2ec;

$hlb-text: #333;

$hlb-black: #000;
$hlb-white: #fff;

$hlb-grey-light: #d1d1d0;
$hlb-grey-dark: #b0afaa;

$hlb-yellow: #fed300;
$hlb-yellow-light: #ffe35a;

$hlb-orange: #f5a239;
$hlb-orange-light: #faba69;

$hlb-blue: #3497d3;
$hlb-blue-dark: #1b7eba;
$hlb-blue-light: #4eb1ed;

$hlb-green: #70b04a;
