/**
 * Created by Chris Dorward on 29/01/2017
 * SASS Variables
 */

$hlb-background: #f3f2ec;

$hlb-text: #333;
$hlb-black: #000;
$hlb-white: #fff;

$hlb-grey-light: #ababa2;
$hlb-grey-dark: #b0afaa;

$hlb-yellow: #fed300;
$hlb-yellow-trans: rgba(254, 211, 0, 0.5);

$hlb-orange: #f5a239;
$hlb-orange-trans: rgba(245, 162, 57, 0.5);

$hlb-blue: #3497d3;
$hlb-blue-trans: rgba(52, 151, 211, 0.5);

$hlb-green: #70b04a;
$hlb-green-trans: rgba(112, 176, 74, 0.5);
