/**
 * Created by Chris Dorward on 21/01/2017
 * coponents/FeaturedTile/FeaturedTile.scss
 */

.featured-tile a {
  color: white;
  text-decoration: none;
}

.featured-tile a:hover {
  color: #fed300;
}

.featured-tile-default {
  background: #ddd;
  border: 1px solid #eee;
  color: black;
}

.featured-tile-tip {
  background: #70b04a;
  border: 1px solid #5a9239;
  color: white;
}

.featured-tile-recipe {
  background: #3497d3;
  border: 1px solid #2b7fb2;
  color: white;
}

@media (max-width: 768px) {
  .featured-tile {
  }
}

@media (max-width: 980px) {
  .featured-tile {
  }
}

@media (max-width: 1200px) {
  .featured-tile {
  }
}
