
.react-motion-nav {
  font-family: 'Arial';
  text-align: center;
  list-style: none;
  font-size: 12px;
}

.react-motion-nav li {
  display: inline;
  border: 1px solid #eee;
  background: #ccc;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: 100px;
}

.react-motion-nav a {
  color: white;
  text-decoration: none;
}
