/**
 * Created by Chris Dorward on 21/01/2017
 * coponents/Message/Message.scss
 */

#message {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 450px;
  z-index: 10000;
}

.message-buttons {
  float: right;
}

.message-btn{
  // border:1px solid red;
  margin: 3px;
}
