/**
 * Created by Chris Dorward on 31/01/2017
 * templates/Recipes/Recipes.scss
 */

@import '../../vars.scss';

.categories {
  // border: 1px solid red;
}

.categories h1 {
  font-family: 'Baloo';
  padding: 0;
  margin: 0;
}
